/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.display-3 {
    font-size: 8vw;
    font-size: 8vmin;
    font-size: 6vmax;
}

.image {
    position: fixed; 
    top: 35vmin; 
    right: 0; 
    width: auto; 
    min-width: 300px;
    height: 60%;
    min-height: 300px;
    opacity: 0.3;
}

.main {
    background-color: #FEFFFF; 
    opacity: 0.99;
}

.sumbox {
    padding-right: 5px
}

.eurosign {
    padding: 0;
}

.header {
    background-color: #3AAFA9
}

.bold-text {
    font-weight: bold;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}